[Unit]
Description=Run USB Backup with rsync on USB Insertion
Requires=media-pwlcz-%i.mount 
After=media-pwlcz-%i.mount

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /media/pwlcz/%i/borg-repo-copy
ExecStart=/home/pwlcz/bin/backup-usb.sh /media/pwlcz/%i
User=pwlcz